@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
    background-image: linear-gradient(to right, #F2F0EB, #BFAE99);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(140, 127, 112, 0.50);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #D95F18;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(155, 67, 16, 0.50);
}
h2 {
    color: #A6774E;
}
p {
    text-align: justify;
}